<div class="h-full w-screen flex justify-center items-center">
  <div class="h-5/6 w-5/6 bg-black p-12 rounded overflow-auto">
    <div class="text-red-700 text-2xl">
      <markdown [data]="participant.handle"></markdown>
    </div>
    <div class="text-red-700 mb-3">
      <markdown [data]="participant.introductionText"></markdown>
      <br />
      Komm in die Crew:
      <a
        href="https://t.me/+r-3NOirmel9jMDky"
        target="_blank"
        rel="noopener noreferrer"
        ><u>https://t.me/+r-3NOirmel9jMDky</u></a
      >
    </div>
    <div>
      <h1 class="text-2xl text-red-700">FAQ</h1>

      <app-accordion header="Was ist dieses Cyberpunk?"
        >Cyberpunk ist ein Genre aus einer Zukunft, in der es einen großen
        technischen Fortschritt, aber eine dramatisch niedrige Lebensqualität
        gibt. Das heißt, jeder kann sich zwar ein cooles Cyberauge leisten, aber
        niemand einen bezahlbaren Wohnraum. Große Corporations haben die Macht
        übernommen und führen mit ihren eigenen Armeen Kriege gegeneinander. Du
        bist nur ein kleines Rädchen im Getriebe von Night City und versuchst
        über die Runden zu kommen. <br /><br />
        Bekannte Medien aus dem Genre: Cyberpunk 2077, Blade Runner,
        Nechromancer
        <br /><br />
        Wir spielen
        <a
          href="https://talsorianstore.com/collections/cyberpunk/products/cyberpunk-red"
          target="_blank"
          rel="noopener noreferrer"
          ><u><b>Cyberpunk RED</b></u></a
        >, ein Pen & Paper-Rollenspiel, das ungefähr 40 Jahre vor Cyberpunk 2077
        stattfindet.
      </app-accordion>
      <app-accordion header="Was bisher geschah...">
        Nach getaner Arbeit erfolgt die Bezahlung, nicht wahr? Doch der Deal ist
        geplatzt! Bei der Geldübergabe tauchten plötzlich Cops auf und haben
        angefangen auf die Gang zu schießen. Nicht cool! Laslo, unser eigentlich
        zuverlässiger Auftraggeber, meldet sich auch nicht mehr. Was zu Hölle
        ist hier los?<br /><br />
        Wir haben dann erfahren, dass die Cops das Geld und Laslo in einem alten
        Lagerhaus eingesperrt haben. Also nichts wie hin! Als wir dort waren
        begann das absolute Chaos. Sie haben den Ort doch tatsächlich mit Fallen
        gespickt. Das halbe Gebäude ist einfach explodiert!
        <br /><br />
        Bei der Schießerei haben wir allen korrupten Cops eine Kugel verpasst.
        Leider wurde auch Redeye geflatlined. Schade, sie war nämlich eine
        verdammt gute Hackerin! Wir haben das Geld und Laslo, nur leider hat
        Placide von den Voodoo-Boys noch irgendetwas mit seinem Hirn gemacht.
        Der Arme Junge spricht nur noch in Werbeslogans...
      </app-accordion>
      <app-accordion header="Was muss ich mitbringen?"
        >Nichts. Ich werde alles einsteigerfreundlich erklären und bringe auch
        vorgefertigte Charaktere mit.</app-accordion
      >
      <app-accordion header="Kann ich trotzdem etwas tun?">
        <ul>
          <li>>Würfel mitbringen: Einen W10 und ganz viele W6</li>
          <li>>Eigene Recherche in das Genre Cyberpunk</li>
          <li>
            >Einen Blick ins
            <a
              href="https://talsorianstore.com/collections/cyberpunk/products/cyberpunk-red"
              target="_blank"
              rel="noopener noreferrer"
            >
              <u><b>Regelbuch</b></u>
            </a>
            werfen
          </li>
          <li>>Ideen für deinen Charakter ausdenken</li>
        </ul>
      </app-accordion>
      <app-accordion header="Das Cyberpunk RED Regelbuch kostet ja Geld!"
        >Das stimmt. Aber dir wird bestimmt etwas einfallen, schließlich bist du
        ein Cyberpunk! Am einfachsten wäre es, wenn du dirden
        <a
          href="https://www.drivethrurpg.com/de/product/409912/cyberpunk-red-easy-mode"
          target="_blank"
          rel="noopener noreferrer"
          ><b><u>Cyperpunk Easy Mode kostenlos herunterlädst</u></b></a
        >. Dort steht alles was du brauchst.</app-accordion
      >
      <app-accordion header="Welchen Charakter spiele ich?"
        >Entweder du spielst den gleichen Charakter wie beim letzten Mal, oder
        nimmst einen vorgefertigten von mir. <br /><br />
        Ich freue mich auch mit dir zusammen einen vollkommen neuen Charakter zu
        erstellen.
        <a
          href="https://cyberpunkred.com/"
          target="_blank"
          rel="noopener noreferrer"
          ><b><u>Hier findest du einen Einstieg</u>.</b></a
        >
        Schreib mir, wann du Zeit hast.
      </app-accordion>
      <app-accordion header="Wer steckt hinter dieser fantastischen Website?"
        >:^)</app-accordion
      >

      Geheimauftrag gefunden! {{ participant.task }}
    </div>
  </div>
</div>
